.vscode/
.idea/
.DS_Store
Thumbs.db
last_folder.tmp
.env

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/

*.log
biuletyn_silnika.log
tmp/
pliki/
STRUCTURE.txt

tasks_for_leetcode.py
How_add_to_a01_Nauka_aktualne.md
DEVELOPMENT.MD

venv311